@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #f8fafc;
}

